*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafb;
}
main{
    width: 1200px;
    height: auto;
    margin: auto;
}
.container-bill{
    width: 360px;
    height: auto;
    margin: 50px auto;
    padding: 18px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 15px #3333331c;
}
.pricedetail, .check-in-baggage{
    border-bottom: 2px solid #3333331c;
    padding-bottom: 20px;
    margin-top: 18px;
    /* margin-bottom: 18px; */
}
.bill__title h3{
    font-size: 20px;
    margin-bottom: 30px;

}
.pricedetail__items, .checkinbaggage__items{
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    border-radius: 15px;
}
.pricedetail__items--total{
    background-color: #dadeff;
   
}
.passengers{
    border-bottom: 2px solid #3333331c;
    margin-top: 18px;
}
.services{
    margin-top: 18px;
}
.passengers__items, .service__items{
    padding-bottom: 20px;
}