*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 650px;
    height: auto;
    margin: auto;
}
.heading{
    padding: 50px 0px;
}
.payments{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e1e1;
}
.payments_items{
    width: 20%;
    padding: 8px;
    margin-bottom: 18px;
}
.payments_items figure{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
}
.payments_items figure img{
    display: block;
    width: 100%;
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.info__items label{
    font-size: 16px;
}
.info__items{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    padding: 10px;
}
.info__items:nth-child(1){
    width: 100%;
}
.info__items label{
    margin-bottom: 10px;
}
.info__items input{
    height: 38px;
    border: 1px solid #e4e1e1;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
}
.save{
    margin-top: 18px;
}
.save input{
    background-color: #316bff;
    border: none;
    border-radius: 20px;
    height: 38px;
    padding: 0px 60px;
    color: #fff;
    font-size: 16px;
}